
body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

#map {
    width: 100%;
    height: 100%;
}

.search-card {
    width: 240px;
    background: #fff;
    padding: 12px;
    border-radius: 20px;
    box-shadow: 0 6px 22px rgba(0,0,0,0.15);
    font-family: Arial, sans-serif;
}

.search-box {
    width: 100%;
    background: #F7F7F7;
    padding: 8px 12px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 6px ;
}

.search-box input {
    border: none;
    outline: none;
    flex: initial;
    background: transparent;
    font-size: 12px;
    max-width: 150px;
    overflow: hidden;
}

.icon-left, .icon-right {
    width: 16px;
    min-width: 16px;
    opacity: 0.8;
    cursor: pointer;
}

.recent-title {
    margin-top: 15px;
    font-weight: bold;
    font-size: 14px;
    color: #333;
}

.recent-item {
    display: flex;
    align-items: center;
    background: #F5F5F5;
    padding: 12px;
    border-radius: 14px;
    margin-top: 10px;
    justify-content: space-between;
    cursor: pointer;
}

.recent-item-left {
    display: flex;
    gap: 10px;
    align-items: center;
}

.recent-item img {
    width: 22px;
}

.recent-item .subtitle {
    font-size: 11px;
    color: #777;
}

#btn-voltar {
    position: absolute;
    bottom: 35px;
    right: 35px;
    background: #FFDD00;
    border: none;
    padding: 12px 26px;
    font-size: 16px;
    border-radius: 12px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 4px 12px rgba(0,0,0,0.25);
    transition: 0.15s ease-in-out;
}

#btn-voltar:hover {
    background: #f2cd00;
    transform: scale(1.05);
}

.recent-item img {
    filter: brightness(0) saturate(100%) invert(84%) sepia(58%)
            saturate(917%) hue-rotate(359deg) brightness(101%)
            contrast(102%);
}


